extends layout

block content
    h1 CSFR Numérique
    if error
        p Votre intéressement n'a pu être pris en compte. Si vous vous êtes déjà inscrit et que vous n'avez pas encore reçu l'email cliquez sur ce lien
    else 
        p Votre intéressement a été pris en compte. Veuillez le confirmer en cliquant sur le lien qui se trouve dans l'email qui vous a été envoyé

    a(href="/") Revenir en arrière
          
