extends layout

block content
    h1 CSFR Numérique
    if error
        p Votre soutien n'a pu être pris en compte, réessayer plus tard. Si le problème persiste veuillez contacter le <a href="mailto:nludovic@simplon.co">service technique</a>.
    else 
        p Votre soutien a été pris en compte. Veuillez le confirmer en cliquant sur le lien qui se trouve dans l'email qui vous a été envoyé.

    a(href="/") Revenir en arrière
          
