body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
}


body h1,
body h2 {
  text-align: center;
  color: #07728a;
}

.header {
  color: #f2f2f2;
  background-color: #07728a;
}

.header h1 {
  margin: 0;
  padding: 100px 0 10px 0;
  color: #FFF;
  font-size: 3em;
}

.sub-header {
  text-align: center;
  color: #07728a;
  font-size: 1.8em;
  padding: 20px;
  margin-bottom: 5px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075), 0 10px 0 rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075), 0 10px 0 rgba(0, 0, 0, 0.01);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075), 0 10px 0 rgba(0, 0, 0, 0.01);
}
.important{
  font-size: 1.6em;
  margin: 40px;
  line-height: 1.6em;
}
.people {
  display: inline-block;
  text-align: center;
  margin: 20px 40px 40px 0;
}
.people .title{
  font-size: 1.6em;
}
.people .subtitle{
  font-size: 1.4em;
}
.mbt{
  margin-top: 30px;
}
.mbt-plus{
  margin-top: 60px;
}
.title-block{
  margin-top: 30px;
  margin-bottom: 30px;
}
.bg-gray{
  padding: 20px;
  background-color: #FCFCFC;
}